{% extends '::base.html.twig' %}

{% block body %}
<div class="search_result">
    <div class="separator"></div>
    <h2>Wyniki wyszukiwania:</h2>
    <ul>
    {% for post in matches %}
        <li><a href="{{ url('post_show', {'id': post.attrs.myid, 'slug': post.attrs.slug}) }}">{{ post.attrs.title }}</a></li>
    {% else %}
        Brak wyników.
    {% endfor %}
    </ul>
</div>
{% endblock %}