<!doctype html>  
    <head>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        {% block stylesheets %}
            {% stylesheets 'bundles/devmain/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}

            {% stylesheets 'bundles/devblog/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            
            {% stylesheets 'bundles/devblogmodules/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {#<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">#}
        {% endblock %}
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'></script>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lobster+Two:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Oswald:400,400italic,600,600italic,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    </head>
    <body>

    
  <div class="row header block-row">
    <div class="large-3 columns">
      <div id="logo-block">
        <a href="{{ url('index') }}">
          <img src="{{ asset('bundles/devblog/images/logo.png') }}">
          <p class="logo">Kuchniografia.pl</p>
        </a>
      </div>
    </div>
    <div class="large-9 columns">
        <nav>{{ render(controller('DevCmsBundle:Menu:index')) }}</nav>
    </div>
  </div>
  
  


  <!-- End Header and Nav -->
  <!-- Second Band (Image Left with Text) -->
  <div id="head-separator"></div>
  <div class="row block-row">
    <div class="large-9 columns right-side">
    {% block body %}{% endblock %}
    </div>
    {{ render(controller('DevBlogModulesBundle:BlogModules:index')) }}
  </div>
 
  <!-- Footer -->
 
  <footer class="row">
        <div class="large-2 large-centered columns block-row">
          <p>&copy; Kuchniografia.pl</p>
        </div>
  </footer>              

                        

    {% block javascripts %}
        {% javascripts '@DevMainBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts '@DevBlogBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}  
    <script>
      $(document).foundation();
    </script>
    </body>
</html>
