<!DOCTYPE html>
<head>
<title>Dev CMS</title>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">
<style type="text/css">
body{background-color: #F7F7F6;}
.login{padding-top: 65px;}
.center{float: none; margin-left: auto; margin-right: auto;}
</style>
</head>
<body>

<section>
<div class="container login">
    <div class="row ">
        <div class="center span4 well">

	{% if error %}
	    <div class="alert alert-error">{{ error.message | trans }}</div>
	{% endif %}
	<form action="{{ path('login_check') }}" method="post">
		<div class="form-group">
	    	<label for="username">{% trans %}Username{% endtrans %}:</label>
	    	<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{% trans %}Username{% endtrans %}" class="span4"/>
	    </div>

	    <div class="form-group">
	    	<label for="password">{% trans %}Password{% endtrans %}:</label>
	    	<input type="password" id="password" name="_password" placeholder="{% trans %}Password{% endtrans %}" class="span4"/>
	    </div>
		
		<input type="checkbox" id="remember_me" name="_remember_me" checked />
	    <label for="remember_me">Keep me logged in</label>
    
	    <input type="hidden" name="_target_path" value="admin_index" />

	    <button class="btn btn-primary btn-block" type="submit" name="login" />{% trans %}Sign in{% endtrans %}</button>
	</form>
        </div>
    </div>
</div>
</body>
</html>