<div class="large-3 columns">
    <div class="row block-row">
        {% for module in modules %}
            {{ module | raw }}
        {% endfor %}
    </div>
</div>
{#    <div class="large-3 columns">
      <div class="row">
      <div class="module">
        <div class="sidebarlabel">Archiwum</div>
        <ul>
          <li><a href="#">2014</a></li>
          <li><a href="#">2013</a></li>
          <li><a href="#">2012</a></li>
          <li><a href="#">2011</a></li>
        </ul>
      </div>
      <div class="module">
        <div class="sidebarlabel">Szukaj</div>
        <input type="text" placeholder="szukaj">
      </div>      
      <div class="module">
        <div class="sidebarlabel">Kategorie</div>
         <ul>
          <li><a href="#">Kategoria (1)</a></li>
          <li><a href="#">Inna kategoria (10)</a></li>
          <li><a href="#">Przepisy (120)</a></li>
          <li><a href="#">Porady (20)</a></li>
        </ul>
      </div> 
      <div class="module">
        <div class="sidebarlabel">Subskrypcja</div>
        <input type="text" placeholder="e-mail">
      </div>
      <div class="module">
        <div class="sidebarlabel">Najnowsze komentarze</div>
         <ul>
          <li><a href="#">aaaa w bbbb</a></li>
          <li><a href="#">cccc w dddddddd</a></li>
          <li><a href="#">ee gggggggggggg asdqwd w dupa dupa rzepa costam ...</a></li>
        </ul>
      </div>
      <div class="module">
        <div class="sidebarlabel">Popularne</div>
         <ul>
          <li><a href="#">aaa</a></li>
          <li><a href="#">bbbbbb bbbbb b b b</a></li>
          <li><a href="#">cccccccccccccccccc ddddddddddd eeeeeeeeeee ffffffffff</a></li>
        </ul>
      </div>      
      </div>
    </div>
 #}