{% extends "DevAdminBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <h3>Najczęściej odwiedzane posty:</h3>
    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ url('post_show', {'id': post.id, 'slug': post.slug}) }}">{{ post.title}}</a> 
            ({{ post.views }} odświeżeń)
        </li>
    {% endfor %}
    </ul>

    <h3>Ostatnio dodane komentarze</h3>
    <ul>
    {% for comment in comments %}
        <li>
            {% set content = comment.name ~ ' - ' ~ comment.content %}
            {% if comment.page is not null %}
                <a href="{{ url('page_show', {'id': comment.page.id, 'slug': comment.page.slug}) }}#comments">{{ content }}</a>
            {% elseif comment.post is not null %}
                <a href="{{ url('post_show', {'id': comment.post.id, 'slug': comment.post.slug}) }}#comments">{{ content }}</a>
            {% endif %}
            [<a href="{{ url('admin_comment_delete', {'id': comment.id}) }}">USUŃ</a>]
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
