{% extends "DevAdminBundle::layout.html.twig" %}

{% block content %}

{{ form_start(postForm) }}
    {{ form_errors(postForm) }}
	<div class="container">
	{% for child in postForm %}
		<div class="row">
			<div class="span2">{{ form_label(child) }}</div>
			  <div class="span8">{{ form_widget(child) }}</div>
		</div>
		
	{% endfor %}
	</div>
    {{ form_widget(postForm.save) }}
{{ form_end(postForm) }}

{% endblock %}