{% extends "DevAdminBundle::layout.html.twig" %}

{% block content %}

    <h1>Comment list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>email</th>
                <th>webpage</th>
                <th>Content</th>
                <th>Addeddate</th>
                <th>Ipaddress</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_comment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.webpage }}</td>
                <td>{{ entity.content }}</td>
                <td>{% if entity.addedDate %}{{ entity.addedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.ipAddress }}</td>
                <td>{{ entity.visible }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_comment_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_comment_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_comment_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
