{% extends "DevAdminBundle::layout.html.twig" %}

{% block content %}

    <h1>Comment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>webpage</th>
                <td>{{ entity.webpage }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content }}</td>
            </tr>
            <tr>
                <th>Addeddate</th>
                <td>{{ entity.addedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Ipaddress</th>
                <td>{{ entity.ipAddress }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_comment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_comment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
