{% extends "DevAdminBundle::layout.html.twig" %}

{% block content -%}
    <h1>Ustawienia</h1>
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            <h3>{{ flashMessage }}</h3>
        </div>
    {% endfor %}
    
    {{ form_start(passwordForm) }}
    {{ form_widget(passwordForm) }}
    <input type="submit">
    {{ form_end(passwordForm) }}
 {% endblock %}
