    <div class="sidebarlabel">Kategorie</div>
    <ul>
        {% for category in categories %}
            <li><a href="{{ path('category_show', {slug: category.slug}) }}">{{ category.categoryName }}</a></li>    
        {% endfor %}
    </ul>
