    <div class="sidebarlabel">Popularne posty</div>
    <ul>
        {% for post in popularPosts %}
            <li><a href="{{ url('post_show', {'id': post.id, 'slug': post.slug}) }}">{{ post.title }}</a></li>
        {% endfor %}
        {#<li><a href="#">aaa</a></li>
        <li><a href="#">bbbbbb bbbbb b b b</a></li>
        <li><a href="#">cccccccccccccccccc ddddddddddd eeeeeeeeeee ffffffffff</a></li>#}
    </ul>
