<div class="sidebarlabel">Szukaj</div>
{{ form_start(form) }}
    <div class="row">
        <div class="large-12 columns ">
            <div class="row collapse">
                <div class="small-10 columns">
                    {{ form_widget(form.phrase) }}
                </div>
                <div class="small-2 columns">
                    <button type="submit" class="button tiny postfix radius" id="search_submit">
                        <i class="fi fi-magnifying-glass"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{ form_end(form) }}
