{% extends "DevAdminBundle::layout.html.twig" %}

{% block content %}

    <h1>Post list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Visible</th>
                <th>Addeddate</th>
                <th>Title</th>
                <th>Content</th>
                <th>Pictures</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.visible }}</td>
                <td>{% if entity.addedDate %}{{ entity.addedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.content[:100] | raw }}</td>
                <td>{#{ entity.pictures }#}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_show', { 'id': entity.id, 'slug': entity.slug }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
