{% extends "DevAdminBundle::layout.html.twig" %}

{% block content %}

    <h1>Post</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ entity.visible }}</td>
            </tr>
            <tr>
                <th>Addeddate</th>
                <td>{{ entity.addedDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Displaydate</th>
                <td>{{ entity.displayDate }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Displaytitle</th>
                <td>{{ entity.displayTitle }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ entity.content | raw }}</td>
            </tr>
            <tr>
                <th>Displaycontent</th>
                <td>{{ entity.displayContent }}</td>
            </tr>
            <tr>
                <th>Pictures</th>
                <td>{#{ entity.pictures }#}</td>
            </tr>
            <tr>
                <th>Displaypictures</th>
                <td>{{ entity.displayPictures }}</td>
            </tr>
            <tr>
                <th>Displaycomments</th>
                <td>{{ entity.displayComments }}</td>
            </tr>
            <tr>
                <th>Commentsenabled</th>
                <td>{{ entity.commentsEnabled }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_post') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_post_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
