<!DOCTYPE html>
<html dir='ltr' xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'/>
    <link href='http://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'/>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    {#<script type="text/javascript">(function() { var b=window,f="chrome",g="jstiming",k="tick";(function(){function d(a){this.t={};this.tick=function(a,d,c){var e=void 0!=c?c:(new Date).getTime();this.t[a]=[e,d];if(void 0==c)try{b.console.timeStamp("CSI/"+a)}catch(h){}};this[k]("start",null,a)}var a;b.performance&&(a=b.performance.timing);var n=a?new d(a.responseStart):new d;b.jstiming={Timer:d,load:n};if(a){var c=a.navigationStart,h=a.responseStart;0<c&&h>=c&&(b[g].srt=h-c)}if(a){var e=b[g].load;0<c&&h>=c&&(e[k]("_wtsrt",void 0,c),e[k]("wtsrt_","_wtsrt",h),e[k]("tbsd_","wtsrt_"))}try{a=null,
    b[f]&&b[f].csi&&(a=Math.floor(b[f].csi().pageT),e&&0<c&&(e[k]("_tbnd",void 0,b[f].csi().startE),e[k]("tbnd_","_tbnd",c))),null==a&&b.gtbExternal&&(a=b.gtbExternal.pageT()),null==a&&b.external&&(a=b.external.pageT,e&&0<c&&(e[k]("_tbnd",void 0,b.external.startE),e[k]("tbnd_","_tbnd",c))),a&&(b[g].pt=a)}catch(p){}})();b.tickAboveFold=function(d){var a=0;if(d.offsetParent){do a+=d.offsetTop;while(d=d.offsetParent)}d=a;750>=d&&b[g].load[k]("aft")};var l=!1;function m(){l||(l=!0,b[g].load[k]("firstScrollTime"))}b.addEventListener?b.addEventListener("scroll",m,!1):b.attachEvent("onscroll",m);
     })();</script>#}
    {#<link rel="alternate" type="application/atom+xml" title="Typefocus - Atom" href="http://typefocus-theme.blogspot.com/feeds/posts/default" />
    <link rel="alternate" type="application/rss+xml" title="Typefocus - RSS" href="http://typefocus-theme.blogspot.com/feeds/posts/default?alt=rss" />
    <link rel="service.post" type="application/atom+xml" title="Typefocus - Atom" href="http://www.blogger.com/feeds/7500500290866045919/posts/default" />
    <link rel="me" href="http://www.blogger.com/profile/14860856509372402184" />
    <link rel="openid.server" href="http://www.blogger.com/openid-server.g" />
    <link rel="openid.delegate" href="http://typefocus-theme.blogspot.com/" />#}
    <!--[if IE]> <script> (function() { var html5 = ("abbr,article,aside,audio,canvas,datalist,details," + "figure,footer,header,hgroup,mark,menu,meter,nav,output," + "progress,section,time,video").split(','); for (var i = 0; i < html5.length; i++) { document.createElement(html5[i]); } try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {} })(); </script> <![endif]-->
    {% block stylesheets %}
        {% stylesheets 'bundles/devmain/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets 'bundles/devblog/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <title>Blog blog</title>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'></script>
    {% block javascripts %}
        {% javascripts '@DevMainBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@DevBlogBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
   
</head>

<body class='home blog'>
    <div id='bpagecontent'>
        <header class='site-header' id='masthead' role='banner'>
        <!-- Title and descr -->
        <div class='site-branding'>
            <div class='headersec section' id='headersec'>
                <div class='widget Header' id='Header1'>
                    <div id='header-inner'>
                        <div class='titlewrapper'>
                            <h1 class='site-title'>
                                <a href={{ url('index') }}>Nazwa bloga</a>
                            </h1>
                        </div>
                        <h2 class='site-description'>Opis bloga</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class='header-social'>
            <a href='#'><i class='fa fa-github'></i></a>
            <a href='#'><i class='fa fa-linkedin'></i></a>
            <a href='#'><i class='fa fa-facebook'></i></a>
            <a href='#'><i class='fa fa-twitter'></i></a>
            <a href='#'><i class='fa fa-google-plus'></i></a>
            <a href='#'><i class='fa fa-pinterest'></i></a>
            <a href='#'><i class='fa fa-youtube'></i></a>
        </div>
        <div class='main-navigation' id='site-navigation' role='navigation'>
            <h1 class='menu-toggle'>Menu</h1>
            <a class='skip-link screen-reader-text' href='#content'>Skip to content</a>
            <div class='menu'>
                <div class='nbttopmenutop section' id='nbttopmenutop'>
                    <div class='widget LinkList' id='LinkList7'>
                        <div class='widget-content'>
                            <ul>
                                <li><a href="{{ url('index') }}">Home</a></li>
                                {{ render(controller('DevCmsBundle:Menu:index')) }}
                            </ul>
                            <div class='clear'></div>
                            <span class='widget-item-control'>
                                <span class='item-control blog-admin'>
                                    <a class='quickedit' href='//www.blogger.com/rearrange?blogID=7500500290866045919&widgetType=LinkList&widgetId=LinkList7&action=editWidget&sectionId=nbttopmenutop' onclick='return _WidgetManager._PopupConfig(document.getElementById("LinkList7"));' target='configLinkList7' title='Edit'>
                                        <img alt='' height='18' src='{{ asset('bundles/devblog/images/icon18_wrench_allbkg.png') }}' width='18'/>
                                    </a>
                                </span>
                            </span>
                            <div class='clear'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- #site-navigation -->
    </header><!-- #masthead -->
    <div class='site-content' id='bmainsitecontent'>
        <div class='content-area' id='primarypart'>
            <div class='site-main' id='maincontentarea' role='main'>
                <div class='mainblogsec section' id='mainblogsec'>
                    <div class='widget Blog' id='Blog1'>
                        {# POCZATEK - blog posts #}
                        <div style="height: 20px;">
                            {{ render(controller('DevMainBundle:Category:index')) }}
                        </div>
                        <div class='blog-posts hfeed'>
                            {% block content %}{% endblock %}
                            {# content #}
                            <!-- google_ad_section_start(name=default) -->
                        <!-- google_ad_section_end -->
                        </div>
                        {# KONIEC - blog posts #}
                        <div style='clear: both;'></div>
                        <div class='blog-pager' id='blog-pager'>
                            <span id='blog-pager-older-link'>
                                <a class='blog-pager-older-link' href='http://typefocus-theme.blogspot.com/search?updated-max=2010-08-10T17:23:00-07:00&amp;max-results=4' id='Blog1_blog-pager-older-link' title='Older Posts'>Older Posts</a>
                            </span>
                            <a class='home-link' href="{{ url('index') }}">Home</a>
                        </div>
                        <div class='clear'></div>
                        {#<div class='blog-feeds'>
                            <div class='feed-links'>
                                Subscribe to:
                                <a class='feed-link' href='http://typefocus-theme.blogspot.com/feeds/posts/default' target='_blank' type='application/atom+xml'>Posts (Atom)</a>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div><!-- #maincontentarea -->
        </div><!-- #primarypart -->
       
        <div class='widget-area' id='secondarypart' role='complementary'>

            {# POCZATEK - wyszukiwarka #}
            <div class='widget widget_search'>
                <form action='/search' class='search-form' id='searchform' method='get' role='search'>
                    <label>
                        <span class='screen-reader-text'>Search for:</span>
                        <input class='search-field' name='q' placeholder='Search' type='search' value=''/>
                    </label>
                    <input class='search-submit' type='submit' value='Search'/>
                </form>
            </div>
            {# KONIEC - wyszukiwarka #}

            <div class='sidebar section' id='sidebartop'>
                {# POCZATEK - popularne posty #}
                <div class='widget PopularPosts' id='PopularPosts1'>
                    <h2>Popular Posts</h2>
                    <div class='widget-content popular-posts'>
                        <ul>
                            <li>
                                <div class='item-content'>
                                    <div class='item-thumbnail'>
                                        <a href='http://typefocus-theme.blogspot.com/2010/09/sample-post-with-links-paragraphs-and.html' target='_blank'>
                                            <img alt='' border='0' height='72' src='http://1.bp.blogspot.com/-KeFWnl1J5fI/UrWFQ7bWuTI/AAAAAAAAJr4/IMMCkGR_Du0/s72-c/3.jpg' width='72'/>
                                        </a>
                                    </div>
                                    <div class='item-title'>
                                        <a href='http://typefocus-theme.blogspot.com/2010/09/sample-post-with-links-paragraphs-and.html'>Sample post with, links, paragraphs and comments</a>
                                    </div>
                                    <div class='item-snippet'>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor  incididunt ut labore et dolore magna aliqua. Ut enim ad min...
                                    </div>
                                </div>
                                <div style='clear: both;'></div>
                            </li>
                            <li>
                                <div class='item-content'>
                                    <div class='item-thumbnail'>
                                        <a href='http://typefocus-theme.blogspot.com/2010/08/this-is-just-going-to-be-another-test.html' target='_blank'>
                                            <img alt='' border='0' height='72' src='http://3.bp.blogspot.com/-7kPzkd4qoWc/UrWFTSqhcbI/AAAAAAAAJsM/Bc-dNBWKXKg/s72-c/4.jpg' width='72'/>
                                        </a>
                                    </div>
                                    <div class='item-title'>
                                        <a href='http://typefocus-theme.blogspot.com/2010/08/this-is-just-going-to-be-another-test.html'>This is Just Going To Be Another Test Post</a>
                                    </div>
                                    <div class='item-snippet'>
                                        Lorem ipsum eu usu assum liberavisse, ut munere praesent complectitur mea. Sit an option maiorum principes. Ne per probo magna idque, est ve...
                                    </div>
                                </div>
                                <div style='clear: both;'></div>
                            </li>
                        </ul>
                        <div class='clear'></div>
                        <span class='widget-item-control'>
                            <span class='item-control blog-admin'>
                                <a class='quickedit' href='//www.blogger.com/rearrange?blogID=7500500290866045919&widgetType=PopularPosts&widgetId=PopularPosts1&action=editWidget&sectionId=sidebartop' onclick='return _WidgetManager._PopupConfig(document.getElementById("PopularPosts1"));' target='configPopularPosts1' title='Edit'>
                                    <img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                                </a>
                            </span>
                        </span>
                        <div class='clear'></div>
                    </div>
                </div>
                {# KONICE - popularne posty #}

                {# POCZATEK - recent posts #}
                <div class='widget HTML' id='HTML1'>
                    <h2 class='title'>Recent Posts</h2>
                    <div class='widget-content'>
                        Linki do postów
                    </div>
                    <div class='clear'></div>
                    <span class='widget-item-control'>
                        <span class='item-control blog-admin'>
                            <a class='quickedit' href='//www.blogger.com/rearrange?blogID=7500500290866045919&widgetType=HTML&widgetId=HTML1&action=editWidget&sectionId=sidebartop' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML1"));' target='configHTML1' title='Edit'>
                                <img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                            </a>
                        </span>
                    </span>
                    <div class='clear'></div>
                </div>
                {# KONIEC - recent posts #}

                {# POCZATEK - kategorie #}
                <div class='widget Label' id='Label1'>
                    <h2>Categories</h2>
                    <div class='widget-content list-label-widget-content'>
                        <ul>
                            <li>
                                <a dir='ltr' href='http://typefocus-theme.blogspot.com/search/label/Entertainment'>Entertainment</a>
                            </li>
                            <li>
                                <a dir='ltr' href='http://typefocus-theme.blogspot.com/search/label/Graphic%20Design'>Graphic Design</a>
                            </li>
                            <li>
                                <a dir='ltr' href='http://typefocus-theme.blogspot.com/search/label/Motion%20Design'>Motion Design</a>
                            </li>
                            <li>
                                <a dir='ltr' href='http://typefocus-theme.blogspot.com/search/label/Print%20Design'>Print Design</a>
                            </li>
                            <li>
                                <a dir='ltr' href='http://typefocus-theme.blogspot.com/search/label/Web%20Design'>Web Design</a>
                            </li>
                        </ul>
                        <div class='clear'></div>
                        <span class='widget-item-control'>
                            <span class='item-control blog-admin'>
                                <a class='quickedit' href='//www.blogger.com/rearrange?blogID=7500500290866045919&widgetType=Label&widgetId=Label1&action=editWidget&sectionId=sidebartop' onclick='return _WidgetManager._PopupConfig(document.getElementById("Label1"));' target='configLabel1' title='Edit'>
                                    <img alt='' height='18' src='{{ asset('/bundles/devblog/images/icon18_wrench_allbkg.png') }}' width='18'/>
                                </a>
                            </span>
                        </span>
                        <div class='clear'></div>
                    </div>
                </div>
                {# KONIEC - kategorie #}

                {# POCZATEK - text widget #}
                <div class='widget HTML' id='HTML2'>
                    <h2 class='title'>Text Widget</h2>
                    <div class='widget-content'>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation test link ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                    <div class='clear'></div>
                    <span class='widget-item-control'>
                        <span class='item-control blog-admin'>
                            <a class='quickedit' href='//www.blogger.com/rearrange?blogID=7500500290866045919&widgetType=HTML&widgetId=HTML2&action=editWidget&sectionId=sidebartop' onclick='return _WidgetManager._PopupConfig(document.getElementById("HTML2"));' target='configHTML2' title='Edit'>
                                <img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                            </a>
                        </span>
                    </span>
                    <div class='clear'></div>
                </div>
                {# KONIEC - text widget #}

                {# POCZATEK - blog archive #}
                <div class='widget BlogArchive' id='BlogArchive1'>
                    <h2>Blog Archive</h2>
                    <div class='widget-content'>
                        <div id='ArchiveList'>
                            <div id='BlogArchive1_ArchiveList'>
                                <ul class='hierarchy'>
                                    <li class='archivedate expanded'>
                                        <a class='toggle' href='javascript:void(0)'>
                                            <span class='zippy toggle-open'>&#9660;&#160;</span>
                                        </a>
                                        <a class='post-count-link' href='http://typefocus-theme.blogspot.com/search?updated-min=2010-01-01T00:00:00-08:00&amp;updated-max=2011-01-01T00:00:00-08:00&amp;max-results=14'>2010</a>
                                        <span class='post-count' dir='ltr'>(14)</span>
                                        <ul class='hierarchy'>
                                            <li class='archivedate expanded'>
                                                <a class='toggle' href='javascript:void(0)'>
                                                    <span class='zippy toggle-open'>&#9660;&#160;</span>
                                                </a>
                                                <a class='post-count-link' href='http://typefocus-theme.blogspot.com/2010_09_01_archive.html'>September</a>
                                                <span class='post-count' dir='ltr'>(1)</span>
                                                <ul class='posts'>
                                                    <li>
                                                        <a href='http://typefocus-theme.blogspot.com/2010/09/sample-post-with-links-paragraphs-and.html'>Sample post with, links, paragraphs and comments</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class='hierarchy'>
                                            <li class='archivedate collapsed'>
                                                <a class='toggle' href='javascript:void(0)'>
                                                    <span class='zippy'>
                                                        &#9658;&#160;
                                                    </span>
                                                </a>
                                                <a class='post-count-link' href='http://typefocus-theme.blogspot.com/2010_08_01_archive.html'>August</a>
                                                <span class='post-count' dir='ltr'>(3)</span>
                                            </li>
                                        </ul>
                                        <ul class='hierarchy'>
                                            <li class='archivedate collapsed'>
                                                <a class='toggle' href='javascript:void(0)'>
                                                    <span class='zippy'>
                                                        &#9658;&#160;
                                                    </span>
                                                </a>
                                                <a class='post-count-link' href='http://typefocus-theme.blogspot.com/2010_05_01_archive.html'>May</a>
                                                <span class='post-count' dir='ltr'>(2)</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class='clear'></div>
                        <span class='widget-item-control'>
                            <span class='item-control blog-admin'>
                                <a class='quickedit' href='//www.blogger.com/rearrange?blogID=7500500290866045919&widgetType=BlogArchive&widgetId=BlogArchive1&action=editWidget&sectionId=sidebartop' onclick='return _WidgetManager._PopupConfig(document.getElementById("BlogArchive1"));' target='configBlogArchive1' title='Edit'>
                                    <img alt='' height='18' src='http://img1.blogblog.com/img/icon18_wrench_allbkg.png' width='18'/>
                                </a>
                            </span>
                        </span>
                        <div class='clear'></div>
                    </div>
                </div>
                {# KONIEC - blog archive #}

            </div>
</div><!-- #secondarypart -->
</div><!-- #bmainsitecontent -->
</div><!-- #bpagecontent -->
<footer class='site-footer' id='colophon' role='contentinfo'>
<div class='site-info'>
<!-- Please do not edit following code, it may cause your site to stop working! -->
Copyright &#169; <script type='text/javascript'>var creditsyear = new Date();document.write(creditsyear.getFullYear());</script>
<a href='http://typefocus-theme.blogspot.com/'>Typefocus</a> | Powered by <a href='http://www.blogger.com/'>Blogger</a><br/>
Design by <a href='http://www.ajaysdesk.com' target='_blank'>Ajay Divakaran</a> | Blogger Theme by <a href='http://newbloggerthemes.com/' target='_blank' title='NewBloggerThemes.com'>NewBloggerThemes.com</a>
</div><!-- .site-info -->
</footer><!-- #colophon -->
<script type='text/javascript'>
//<![CDATA[

/**
 * navigation.js
 *
 * Handles toggling the navigation menu for small screens.
 */
( function() {
    var container, button, menu;

    container = document.getElementById( 'site-navigation' );
    if ( ! container )
        return;

    button = container.getElementsByTagName( 'h1' )[0];
    if ( 'undefined' === typeof button )
        return;

    menu = container.getElementsByTagName( 'ul' )[0];

    // Hide menu toggle button if menu is empty and return early.
    if ( 'undefined' === typeof menu ) {
        button.style.display = 'none';
        return;
    }

    if ( -1 === menu.className.indexOf( 'nav-menu' ) )
        menu.className += ' nav-menu';

    button.onclick = function() {
        if ( -1 !== container.className.indexOf( 'toggled' ) )
            container.className = container.className.replace( ' toggled', '' );
        else
            container.className += ' toggled';
    };
} )();

//]]>
</script>
<script type='text/javascript'>
//<![CDATA[

( function() {
    var is_webkit = navigator.userAgent.toLowerCase().indexOf( 'webkit' ) > -1,
        is_opera  = navigator.userAgent.toLowerCase().indexOf( 'opera' )  > -1,
        is_ie     = navigator.userAgent.toLowerCase().indexOf( 'msie' )   > -1;

    if ( ( is_webkit || is_opera || is_ie ) && 'undefined' !== typeof( document.getElementById ) ) {
        var eventMethod = ( window.addEventListener ) ? 'addEventListener' : 'attachEvent';
        window[ eventMethod ]( 'hashchange', function() {
            var element = document.getElementById( location.hash.substring( 1 ) );

            if ( element ) {
                if ( ! /^(?:a|select|input|button|textarea)$/i.test( element.tagName ) )
                    element.tabIndex = -1;

                element.focus();
            }
        }, false );
    }
})();

//]]>
</script>
<script type='text/javascript'>
//<![CDATA[

jQuery(function ($) {
    if ( $('#bpagecontent').innerWidth() > 945 ) {
        //$('#masthead').css('height', $('#bpagecontent').innerHeight());
    }   
});

//]]>
</script>

</body>
</html>