{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Post list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Visible</th>
                <th>Addeddate</th>
                <th>Displaydate</th>
                <th>Title</th>
                <th>Displaytitle</th>
                <th>Content</th>
                <th>Displaycontent</th>
                <th>Pictures</th>
                <th>Displaypictures</th>
                <th>Displaycomments</th>
                <th>Commentsenabled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.visible }}</td>
                <td>{% if entity.addedDate %}{{ entity.addedDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.displayDate }}</td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.displayTitle }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.displayContent }}</td>
                <td>{{ entity.pictures }}</td>
                <td>{{ entity.displayPictures }}</td>
                <td>{{ entity.displayComments }}</td>
                <td>{{ entity.commentsEnabled }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('post_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('post_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
