{% extends "::base.html.twig" %}

{% block body %}
{% if entity is defined and entity is not null and entity.getVisible() == true %}
    <div class="separator"></div>
    <article>
        {% if entity.getDisplayTitle() == true %}
            <div class="title"><a href="{{ url('post_show', {'id': entity.id, 'slug': entity.slug}) }}">{{ entity.getTitle() }}</a></div>
        {% endif %}
        <div class="post-info right">
            {% if entity.getDisplayDate() == true %}
                <i class="fa fa-clock-o"></i> <time>{{ entity.getAddedDate() | date("d-m-Y H:i:s")}}</time><br>
            {% endif %}
            {% if entity.getDisplayComments() == true %}
                <i class='fa fa-comment'></i>
                <a href="{{ url('post_show', {'id': entity.id, 'slug': entity.slug}) }}#comments">
                    {% set comments_number = 0 %}
                    {% for comment in entity.getComments() if comment.visible == 1 %}
                        {% set comments_number = comments_number + 1 %}
                    {% endfor %}
                    {% transchoice comments_number with {'%counter%': comments_number} %}
                        comments_number
                    {% endtranschoice %}
                </a>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
        {% if entity.getDisplayContent() == true %}
            <div class="article">
                {{ entity.getContent() | raw }}
            </div>
        {% endif %}
        </article>

        {% if entity.getDisplayComments() == true %}
            <div id="comments">
            {% if entity.getComments() | length > 0 %}
                <span class="comments-span">{% trans %}Comments{% endtrans %}:</span> {#{ entity.getComents() }#}
                <ul class="commentlist">
                    {% for comment in entity.getComments() if comment.visible == 1 %} 
                        <li>
                            <span class="says">
                                {% if comment.webpage is not null %}
                                    {% set webpage = comment.webpage | replace({'http://': ''}) %}
                                    <a href="http://{{ webpage }}">{{ comment.getName() }}</a> napisał(a):
                                {% else %}
                                    {{ comment.getName() }} napisał(a):
                                {% endif %}
                            </span>
                            {#Data dodania: {{ comment.getAddedDate()| date("d-m-Y H:i:s") }}#}
                            {{ comment.getContent() | nl2br }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            </div>
        {% endif %}
        {% if entity.getCommentsEnabled() %}
            <span class="comments-span">{% trans %}Add comment{% endtrans %}:</span>
            {{ form_start(commentForm) }}
            {{ form_errors(commentForm) }}
            {{ form_end(commentForm) }}
        {% endif %}
{% else %}
    Post not found (404)
{% endif %}
{% endblock %}
