{% extends "::base.html.twig" %}

{% block body %}
{% for post in posts %}
    {% if post.getVisible() == true %}
        <div class="separator"></div>
        <article>
        {% if post.getDisplayTitle() == true %}
            <div class="title"><a href="{{ url('post_show', {'id': post.id, 'slug': post.slug}) }}">{{ post.getTitle()|capitalize }}</a></div>
        {% endif %}
        <div class="post-info right">
            {% if post.getDisplayDate() == true %}
                <i class="fa fa-clock-o"></i> <time>{{ post.getAddedDate() | date("d-m-Y H:i:s")}}</time><br>
            {% endif %}
            {% if post.getDisplayComments() == true %}
                <i class='fa fa-comment'></i>
                <a href="{{ url('post_show', {'id': post.id, 'slug': post.slug}) }}#comments">
                    {% set comments_number = 0 %}
                    {% for comment in post.getComments() if comment.visible == 1 %}
                        {% set comments_number = comments_number + 1 %}
                    {% endfor %}
                    {% transchoice comments_number with {'%counter%': comments_number} %}
                        comments_number
                    {% endtranschoice %}
                </a>
            {% endif %}
        </div>
        <div style="clear:both;"></div>
        {% if post.getDisplayContent() == true %}
            {% set cut = 350 %}
            <div class="article">
                {{ post.getContent()[:cut] | raw }}{% if post.getContent() | length > cut %}...{% endif %}
            </div>
            <a href='{{ url('post_show', {'id': post.id, 'slug': post.slug}) }}' class="read-more">{% trans %}Czytaj dalej{% endtrans %} &rarr;</a>
        {% endif %}
        </article>
        <div class="separator"><hr/></div>
    {% endif %}
{% else %}
    <h1>{% trans %}Page not found{% endtrans %}</h1>
{% endfor %}
<div class="row">
    <div class="small-1 large-centered columns">
    {% for page in 0..pages %}
        <a href="" class="tiny button radius">{{ page + 1}}</a>
    {% endfor %}
    </div>
</div>
{% endblock %}
