{% extends "DevAdminBundle::layout.html.twig" %}

{% block javascripts %}
<script>
    $(document).ready( function() {
        $("#dev_adminbundle_page_title").stringToSlug({
            setEvents: 'keyup keydown blur',
            getPut: '#dev_adminbundle_page_slug',
            space: '-'
        });
    });
</script>
{% endblock %}

{% block content %}
    <h1>Nowa strona</h1>
    <div class="row">
        {{ form_start(form) }}
        {% for widget in form %}
            <div class="large-3 columns">{{ form_label(widget) }}</div>
            <div class="large-9 columns">{{ form_widget(widget) }}</div>
        {% endfor %}
        {{ form_end(form) }}
    </div>

{% endblock %}
