.title, h1,h2,h3,h4,h5,h6, #header-logo h1, #header-logo h2, .secondary-navigation a, .read-more, .widget h3, .total-comments, .reply a, .pagination a, .pagination span {
	font-family: 'Oswald', sans-serif;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
	display:block;
}

nav {
	display:block;
}
 
nav li {
	display: inline-block;
	position: relative;
	z-index:100;
}
 
nav li a {
	font-weight:600;
	text-decoration:none;
	padding:11px;
	display:block;
	color:#ffffff;
 	-webkit-transition: all 0.2s ease-in-out 0s;
   -moz-transition: all 0.2s ease-in-out 0s;
   -o-transition: all 0.2s ease-in-out 0s;
   -ms-transition: all 0.2s ease-in-out 0s;
   transition: all 0.2s ease-in-out 0s;
   margin-top: 25%;
   line-height: 150%;
}
 
nav li a:hover, nav li:hover > a{
	background:#696F75;
	color: #F0F1F3 !important;
}

.header {
	color: #F0F1F3;
	background: #242D36 !important;
}


body {
	line-height:1;
	font:13px/19px Arial, Helvetica, sans-serif;
	color: #5E656D;
	background:#F2F2F2;
}
.title {
	font-size:24px;
	line-height:150%;
	float: left;
}
a:link {
	-webkit-tap-highlight-color:#FF5E99;
}

blockquote {
	font-style:italic;
	font-weight:normal;
	font-family:Georgia,Serif;
	font-size:15px;
	padding:0 10px 20px 27px;
	position:relative;
	margin-top: 25px;
}
blockquote:after {
	position:absolute;
	content:'"';
	font-size:40px;
	color:#D0D9E0;
	width:50px;
	top:-5px;
	left:0;
	font-family:arial;
}
blockquote p {
	margin-bottom:10px;
}
article {
	padding-bottom: 25px;
}
.separator {
	padding-top: 10px;
	width: 90%;
	margin: 0 auto;
	color: #2B2B2B;
	-webkit-transition: background-color, color 0.2s linear;
	-moz-transition: background-color, color 0.2s linear;
	transition: background-color, color 0.2s linear;
}
footer {
	padding-top: 20px;
}
strong, b {
	font-weight:bold;
}
em, i, cite {
	font-style:italic;
	font-family:georgia;
}

#page, .container {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
	font-weight:normal;
	margin-bottom:12px;
	font-family: 'Oswald', sans-serif;
}
h1 {
	font-size:28px;
	line-height:44px;
}
h2 {
	font-size:24px;
	line-height:40px;
}
h3 {
	font-size:22px;
	line-height: 38px;
}
h4 {
	font-size:20px;
	line-height:24px;
}
h5 {
	font-size:18px;
	line-height:34px;
}
h6 {
	font-size:16px;
	line-height:24px;
}
.sub-title {
	font-size:12px;
}
p {
	margin-bottom: 20px;
	line-height: 20px;
}
a {
	text-decoration:none;
	color: #2B2B2B;
	-webkit-transition: background-color, color 0.2s linear;
	-moz-transition: background-color, color 0.2s linear;
	transition: background-color, color 0.2s linear;
}
a:hover {
	color:#000000;
}
a:link, a:visited, a:active {
	text-decoration:none;
}
:target {
	padding-top:20px;
}

.read-more {
	float: right;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.2em;
	color: #4D4D4D;
	text-decoration: none;
	text-transform: uppercase;
	background: none;
	padding: 0;
}

.article{
	margin-bottom: 20px;
	font-size: 1.2em;
}


.post-info {
	display:block;
	color: #5E5E5E;
	font-style:italic;
	text-align: right;
}
.post-info a {
	color: #2B2B2B;
}

.commentlist li {
	list-style: none;
	padding: 20px;
	background: #F2F2F2;
	margin: 20px 0;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.086) 0px 1px 4px 0px;
}

.commentlist .thread-odd, .commentlist .thread-even .children li {
	background: #F2F2F2;
}

#comments {
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}

.comments-span {
	font-size: 18px;
	font-family: oswald;
}

.says {
	display:block;
	color: #5E5E5E;
	font-style:italic;
}

.right-side {
	border-right: 1px dashed #DDDDDD;
}

.block-row {
	background: white;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.086) 0px 1px 4px 0px;
}

#head-hr {
	margin: 0 auto;
	width: 90%;
	height: 3px;
	background: black;
}

#head-separator {
	height: 2%;
}

.sidebarlabel {
	margin: 3px;
	font-family: 'Oswald', sans-serif;
	font-size:18px;
	font-weight: 300;
	padding: 5px;
	padding-left: 10px;
	color: #F0F1F3;
	background: #242D36 !important;
	display: block;
	/*-webkit-border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.086) 0px 1px 4px 0px;*/
	
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.086) 0px 1px 4px 0px;

}

.module {
	/*width: 95%;*/

}

.button {
	background-color: #A1ABBE;
}

.logo {
	font-family: 'Lobster Two', sans-serif;
	font-style: italic;
	font-size: 32px;
	color: white;
	letter-spacing: 0.125em;
	line-height: 150%;
	width: 150%;
}

#logo-block {
	margin-bottom: -10px;
	margin-top: 10px;
}

#logo-block img {
	float: left;
	padding-right: 5px;
}

button {
	border-radius: 6px;
	background: #F2F2F2;
}
button:hover, button:focus {
	background: #242D36;
}

