#dev_mainbundle_comment_name, #dev_mainbundle_comment_contact, #dev_mainbundle_comment_content {
	width: 100%;
	border-radius: 3px;
}

#dev_mainbundle_comment_content {
	height: 100px;
}

#dev_mainbundle_comment_save {
	width: 100px;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

#comment {
	border: solid 2px lightgrey;
	border-radius: 15px;
	margin-bottom: 10px;
}

.comment_text {
	margin-left: 15px;
}