
<!DOCTYPE html>
    <head>
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
         <![endif]-->
        {% block stylesheets %}
            {% stylesheets 'bundles/devmain/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets 'bundles/devadmin/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {#<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">#}
        {% endblock %}
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'></script>
        <link href='http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="http://fonts.googleapis.com/css?family=Oswald:400,400italic,600,600italic,700,700italic&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            {% javascripts  '../app/Resources/public/js/foundation/*' 
                            '../app/Resources/public/js/*'
                            'bundles/devadmin/js/*'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

        {#<script src="{{ asset() }}" type="text/javascript"></script>#}
    </head>
<body>
    <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
            <ul class="left">
                <li><a href="{{ path('admin_index') }}">Strona główna</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('admin_category_new') }}">Dodaj kategorię</a></li>
                <li><a href="{{ path('admin_category') }}">Lista kategorii</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('admin_post_new') }}">Dodaj wpis</a></li>
                <li><a href="{{ path('admin_post') }}">Lista wpisów</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('admin_page_new') }}">Dodaj stronę</a></li>
                <li><a href="{{ path('admin_page') }}">Lista stron</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('admin_comment') }}">Lista komentarzy</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('admin_settings') }}">Ustawienia</a></li>
            </ul>
            <ul class="right">
                <li class="right"><a href="{{ path('logout') }}">Wyloguj</a></li>
            </ul>
        </section>
    </nav>

    <div class="row">
        <div class="large-12 columns">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block javascripts %}
    {% endblock %}
</body>
</html>