{% extends "::base.html.twig" %}

{% block body %}
    <div class="separator"></div>
    <h2>Lista przepisów w kategorii "{{ entity.categoryName }}"</h2>
    <ul>
    {% for post in posts %}
        <li><a href="{{ url('post_show', {'id': post.id, 'slug': post.slug}) }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
